<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/styles/index.css" />
    <title>Assistent</title>
  </head>

  <body>
    <script src="/static/scripts/index.js"></script>
    <div id="container">
      <form method="POST" action="#" id="registration">
        <h3>Registration</h3>
        <p>
          login
          <input autocomplete="off" type="text" class="login" /><br />
          password
          <input
            autocomplete="off"
            pattern="[A-Za-z0-9]{4,}"
            type="text"
            class="password"
          /><br />
          fname
          <input autocomplete="off" type="text" class="fname" /><br />
          lname
          <input autocomplete="off" type="text" class="lname" /><br />
          email <input type="email" class="email" /><br />
          date_of_birth
          <input type="date" name="date_of_birth" class="date_of_birth" /><br />

          <button class="user_data" onclick="registrtion()">save</button>
        </p>
      </form>

      <form action="" id="login" method="GET">
        <h3>Login</h3>
        login<input type="text" class="check_login" /> <br />
        password<input type="password" class="check_password" /><br />
        <button class="check_input_data" onclick="login()">send</button>
      </form>
    </div>
  </body>
</html>
