<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/index.js"></script>

    <link rel="stylesheet" href="/static/styles/index.css" />
    
    <title>Assistent</title>
  </head>

  <body>
    
    <section id="container">

      <div class="block" id="registration()">

        <form method="POST" action="#">

        <div class="inside">

          <div class=head>

            <div class="inside_head">
              <h3   >Registration</h3   >
            </div>

            <div class="inside_head">
              <button id="swap_reg">to login</button>
            </div>

          </div>

          <div class="inside_item">

            <div class="lft">
              login   
            </div>

            <div class="lft">
              <input autocomplete="off" type="text" class="login" /><br />
            </div>

          </div>

          <div class="inside_item">

            <div class="lft">
              password
            </div>

            <div class="lft">
              <input autocomplete="off" pattern="[A-Za-z0-9]{4,}" type="text" class="password"/><br />
            </div>

          </div>

          <div class="inside_item">

            <div class="lft">
              fname   
            </div>

            <div class="lft">
              <input autocomplete="off" type="text" class="fname" /><br />
            </div>

          </div>

          <div class="inside_item">

            <div class="lft">
              lname   
            </div>

            <div class="lft">
              <input autocomplete="off" type="text" class="lname" /><br />
            </div>

          </div>

          <div class="inside_item">

            <div class="lft">
              email   
            </div>

            <div class="lft">
              <input type="email" class="email" /><br />
            </div>

          </div>

          <div class="inside_item">

            <div class="lft">
              date of birth
            </div>

            <div class="lft">
              <input type="date"name="date_of_birth" class="date_of_birth"/><br />
            </div>

          </div>

          <button class="send_form" id="reg" onclick="registration()">save</button>
        </div>
        </form>
        
      </div>


      
      <div class="block" id="login">
        <form action="" method="GET"></form>
        <div class="inside">
          <div class=head>
            <div class="inside_head"><h3   >Login</h3  ></div>
            <div class="inside_head"><button id="swap_log">to registration</button></div>
          </div>
          <div class="inside_item">
            <div class="lft">login   </div><div class="lft"><input type="text" class="check_login" /> <br /></div>
          </div>
          <div class="inside_item">
            <div class="lft">password</div>
            <div class="lft"><input
              type="password"
              class="check_password"
              autocomplete="on"
            /><br /></div>
          </div>
          <button class="send_form" id="log" onclick="login()">send</button>
        </div>
        </form>
      </div>
      

    </section>
  </body>
</html>
