html {
  margin: 0;
}

section {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  padding: 5%;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#registration {
  background-color: coral;
}
#login {
  background-color: cornflowerblue;
}

.block {
  flex: 1 100 px;
}
