html {
  margin: 0;
}

#container {
  display: flex;
  justify-content: space-around;
}

#registration {
  padding: 2%;
  height: 30%;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  border: 1px solid black;
}
#login {
  padding: 2%;
  height: 30%;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  border: 1px solid black;
}
